
    *:focus{
      outline:none;
    }

    html{
    	height: 100%;

    }

    body{
    		height: 100%;
    		background: #B9929F;
    		font-family: 'Open Sans', sans-serif;
    	}

    	ul{
    		list-style-type: none;
    		padding: 0px;
    	}

    	
    .title{
    	text-align: center;
    	color: #E2C2C6;
    }

    .message-wrapper{
    	width: 400px;
    	height: 80%;
    	margin:20px auto;

    }

    .txt-body{
    	width: 100%;
    	height: 90%;
    	border: 1px solid #ccc;
    	margin: 0 auto;
    	background: #fff;
    	overflow-y: scroll;
    }

    .txt-body ul{
    	list-style-type: none;
    	padding: 5px 10px;
    }
    .txt-body ul li{
    	width: 100%;
    	height: 80px;
    }

    .txt-body ul li p{
    	margin: 5px 0px;
    }

    .message{
    	border-radius: 15.5px;
    	padding: 2.5px 10px;
    	font-size: 18.5px;
    }

    .message.sent{
    	float:left;
    	background: rgba(80, 80, 80, .1);
    }

    .message.received{
    	float:right;
    	background: rgba(97, 15, 127, .3);
    }

    .input-body{
    	height: 10%;
    	width: 100%;
    	display: inline-flex;
    	-webkit-box-pack: justify;
        -ms-flex-pack: justify;
    	justify-content: space-between;
    }

    input::-webkit-input-placeholder{
    	opacity: .5;
    	padding-left: 5px;
    }

    .input-body input{
    	flex-grow: 2.5;
    	font-size: 20px;
    	border: none;
    	background: #fff;
    	border: 2px solid #2F0147;
    	color: #666;
    	font-weight: lighter;
    }

    .input-body button{
    	background: #610F7F;
    	color: #fff;
    	font-weight: 700;
    	border: none;
    	font-size: 1.2em;
    	text-transform: uppercase;
    	flex-grow: 1;
    }

    .input-body button i{
    	font-size: 1.5em;
    }
